h2{
    color: blue;
    background-color: greenyellow;
    margin: 5px;
    padding: 5px;
}
div{
    padding: 5px;
    }
label{
    width: 100px;
    float: left;
    color: blue;
}
body{
    width: 300px;
    height: 150px;
}
form{
    background-color: goldenrod;
}

#button{
    margin: 0 0 0 120px;
}
.address{
    height: 50px;
}
.date{
    width: 100px;
}

